.git
.idea
.venv
__pycache__/
*.py[cod]

.env
config/credentials.json

storage/streams.db
storage/streams.json
storage/games.json
storage/holidays.json
storage/info.json
storage/pages/
storage/cache/*.json
storage/config/*.json
storage/censorship/*.json

!storage/info.example.json
!storage/info_aliases.json
!storage/cache/*.example.json
!storage/config/*.example.json
!storage/censorship/*.example.json
