TWITCH_TOKEN=oauth:your_twitch_oauth_token
TWITCH_NICK=your_bot_nick
TWITCH_CHANNEL=your_channel_name
CLIENT_ID=your_twitch_client_id
CLIENT_SECRET=your_twitch_client_secret
BOT_ID=your_twitch_bot_id
CALENDARIFIC_KEY=your_calendarific_api_key
OPENROUTER_API_KEY=your_openrouter_api_key
RAWG_API_KEY=your_rawg_api_key
GAMES_SHEET_URL=https://docs.google.com/spreadsheets/d/your_sheet_id
